@(message: String, meta: java.sql.DatabaseMetaData)

@main("debug") {

	<h1>Debug</h1>
	<h2>request</h2>
	<table>
		<tr>
			<th>request class</th><td>@request.getClass()</td>
		</tr>
		<tr>
			<th>uri</th><td>@request.uri()</td>
		</tr>
		<tr>
			<th>method</th><td>@request.method()</td>
		</tr>
		<tr>
			<th>version</th><td>@request.version()</td>
		</tr>
		<tr>
			<th>host</th><td>@request.host()</td>
		</tr>
		<tr>
			<th>path</th><td>@request.path()</td>
		</tr>
		<tr>
			<th>remoteAddress</th><td>@request.remoteAddress()</td>
		</tr>
		<tr>
			<th>acceptLanguages</th><td>@request.acceptLanguages()</td>
		</tr>
	</table>

	<h2>request headers</h2>
	<table>
	@defining(request.headers()) { headers =>
		@for(header <- headers) {
			<tr>
				<th>@header._1</th><td>@header._2</td>
			</tr>
		}
	}
	</table>

	<h2>DatabaseMetaData</h2>
	<table>
		<tr>
			<th>URL</th>
			<td>@meta.getURL()<td>
		</tr>
		<tr>
			<th>UserName</th>
			<td>@meta.getUserName()</td>
		</tr>
		<tr>
			<th>DatabaseProductName</th>
			<td>@meta.getDatabaseProductName()</td>
		</tr>
		<tr>
			<th>DatabaseProductVersion</th>
			<td>@meta.getDatabaseProductVersion()</td>
		</tr>
		<tr>
			<th>DatabaseMajorVersion</th>
			<td>@meta.getDatabaseMajorVersion()</td>
		</tr>
		<tr>
			<th>DatabaseMinorVersion</th>
			<td>@meta.getDatabaseMinorVersion()</td>
		</tr>
		<tr>
			<th>DriverName</th>
			<td>@meta.getDriverName()</td>
		</tr>
		<tr>
			<th>DriverVersion</th>
			<td>@meta.getDriverVersion()</td>
		</tr>
		<tr>
			<th>DriverMajorVersion</th>
			<td>@meta.getDriverMajorVersion()</td>
		</tr>
		<tr>
			<th>DriverMinorVersion</th>
			<td>@meta.getDriverMinorVersion()</td>
		</tr>
	</table>

}
