@(form: Form[com.example.dbflute.sastruts.web.member.MemberForm], 
memberStatusMap: Map[String, String],
member: com.example.dbflute.sastruts.dbflute.exentity.Member
)

@main("会員編集") {

@header()
<div class="contents">
	<h2>会員編集</h2>
	@helper.form(action = controllers.member.routes.MemberEditController.doUpdate(member.getMemberId())) {
		@*
		<html:errors/>
		*@
		<table>
			<tr>
				<td>会員名</td>
				<td><input type="text" name="memberName" value="@form("memberName").value" /></td>
			</tr>
			<tr>
				<td>誕生日</td>
				<td><input type="text" name="birthdate" value="@form("birthdate").value" /></td>
			</tr>
			<tr>
				<td>会員ステータス</td>
				<td>
					<select name="memberStatusCode">
						@for(status <- memberStatusMap){
							<option value="@status._1" @if(form("memberStatusCode").value == status._1){selected="selected"}>@status._2</option>
						}
					</select>
				</td>
			</tr>
			<tr>
				<td>会員アカウント</td>
				<td><input type="text" name="memberAccount" value="@form("memberAccount").value" /></td>
			</tr>
			<tr>
				<td>正式会員日</td>
				<td>@form("formalizedDate").value</td>
			</tr>
			<tr>
				<td>最終ログイン日時</td>
				<td>@form("latestLoginDatetime").value</td>
			</tr>
			<tr>
				<td>更新日時</td>
				<td>@form("updateDatetime").value</td>
			</tr>
		</table>

		@*
		<html:hidden property="memberId"/>
		<html:hidden property="formalizedDate"/>
		<html:hidden property="latestLoginDatetime"/>
		<html:hidden property="updateDatetime"/>
		<html:hidden property="previousStatusCode"/>
		<html:hidden property="versionNo"/>
		<s:submit property="doUpdate" value="更新"/>
		<s:submit property="doDelete" value="強制退会"/>
		*@
	}
	<div class="listback">
		<a href="@controllers.member.routes.MemberListController.index">会員一覧へ</a>
	</div>
</div>
@footer()
}
