@(form: Form[com.example.dbflute.sastruts.web.member.MemberForm], 
memberStatusMap: Map[String, String]
)

@main("会員追加") {

@header()
<div class="contents">
	<h2>会員追加</h2>
	@helper.form(action = controllers.member.routes.MemberAddController.doAdd()) {
		@if(form.hasErrors()) {
			<ul style="color: red">
			@for(errList <- form.errors().map(v => v._2)) {
				@for(err <- errList) {
					@if(err.key == "") {
						<li>@Messages(err.message)</li>
					} else {
						<li>@Messages(err.key): @Messages(err.message)</li>
					}
				}
			}
			</ul>
		}
		<table>
			<tr>
				<td>会員名</td>
				<td><input type="text" name="memberName" value="@form("memberName").value" /></td>
			</tr>
			<tr>
				<td>誕生日</td>
				<td><input type="text" name="birthdate" value="@form("birthdate").value" /></td>
			</tr>
			<tr>
				<td>会員ステータス</td>
				<td>
					<select name="memberStatusCode">
						@for(status <- memberStatusMap){
							<option value="@status._1" @if(form("memberStatusCode").value == status._1){selected="selected"}>@status._2</option>
						}
					</select>
				</td>
			</tr>
			<tr>
				<td>会員アカウント</td>
				<td><input type="text" name="memberAccount" value="@form("memberAccount").value" /></td>
			</tr>
		</table>
		<input type="submit" name="doAdd" value="登録" />
	}
	<div class="listback">
		<a href="@controllers.member.routes.MemberListController.index">会員一覧へ</a>
	</div>
</div>
@footer()
}
