@(member: com.example.dbflute.sastruts.dbflute.exentity.Member,
beanList: List[com.example.dbflute.sastruts.web.member.purchase.MemberPurchaseWebBean]
)

@main("会員購入一覧") {

@header()
<div class="contents">
	<h2>会員購入一覧</h2>
	@*
	<html:errors/>
	*@
	<div class="condition">
		<table>
			<tr>
				<td>会員ID</td>
				<td>@member.getMemberId()</td>
			</tr>
			<tr>
				<td>会員名</td>
				<td>@member.getMemberName()</td>
			</tr>
		</table>
	</div>
	<table>
		<thead>
			<tr>
				<th>購入日時</th>
				<th>商品名</th>
				<th>商品価格</th>
				<th>商品数量</th>
				<th>支払状態</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			@for((bean, i) <- beanList.zipWithIndex) {
				<tr id="row" style="background-color: @if(i % 2 == 0) {#AACCEE} else {#EECCAA};">
					<td>@bean.purchaseDatetime.format("yyyy/MM/dd HH:mm:ss")</td>
					<td>@bean.productName</td>
					<td style="text-align: right;">@bean.purchasePrice</td>
					<td style="text-align: right;">@bean.purchaseCount</td>
					<td>@if(bean.paymentComplete) {支払済} else {未払い}</td>
					<td>削除
@*
						<s:form>
							<html:hidden property="memberId" value="${headerBean.memberId}"/>
							<html:hidden property="purchaseId" value="${bean.purchaseId}"/>
							<s:submit property="doDelete" value="削除"/>
						</s:form>
*@
					</td>
				</tr>
			}
		</tbody>
	</table>
@*
	<c:import url="${viewPrefix}/common/paging_navi.jsp"/>
*@
	<div class="listback">
		<a href="@controllers.member.routes.MemberListController.index">会員一覧へ</a>
	</div>
</div>
@footer()
}
