@(message: String)

@main("debug") {

@header()
	
	<h2>Debug menu</h2>
	<ul>
		<li><a href="@controllers.routes.DebugController.request1">Request</a></li>
		<li><a href="@controllers.routes.DebugController.system">System</a></li>
		<li><a href="@controllers.routes.DebugController.play1">Play</a></li>
		<li><a href="@controllers.routes.DebugController.jars">jars</a></li>
		<li><a href="@controllers.routes.DebugController.resources">resources</a></li>
		<li><a href="@controllers.routes.DebugController.database">Database MetaData</a></li>
	</ul>

@footer()
}
