@(props: Map[String, String],
configs: Map[String, List[Tuple3[String, String, String]]],
plugins: Seq[play.api.Plugin]
)

@main("play") {

	<h1>Debug</h1>
	<h2>play</h2>
	<table>
		<tr>
			<th>key</th><th>value</th>
		</tr>
	@for(v <- props) {
		<tr>
			<td>@v._1</td><td>@v._2</td>
		</tr>
	}
	</table>

	<h2>plugins</h2>
	<table>
		<tr>
			<th>class</th><th>enabled</th>
		</tr>
	@for(v <- plugins) {
		<tr>
			<td>@v.getClass().getName()</td><td>@v.enabled</td>
		</tr>
	}
	</table>

	<h2>configs</h2>
	@for(config <- configs) {
		<h3>@config._1</h3>
		<table>
			<tr>
				<th>key</th><th>value</th>
			</tr>
			@for(v <- config._2) {
				<tr>
					<td>@v._1</td><td>@v._2</td>
				</tr>
			}
		</table>
	}

@debugFooter()
}
